*.idea
*.iml
target
*.class

.settings/

kafka-common/.classpath

kafka-common/.factorypath

kafka-common/.project

.project

kafka-producer/.classpath

kafka-producer/.factorypath

kafka-consumer/.classpath

kafka-consumer/.factorypath
